.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
}

/* +_+ Header +_+ */

header {
	background-color: #fff;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center; 
	height: 10vh;      
}

.header__logo {
	width: 50px;
}

.header__logo img {
	width: 50px;
}

.list {
	display: flex;
	list-style-type: none;
}

.header__link {
	color: #868686;
	font-size: 14px;
}

.link {
	font-family: "Lato", Arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 20px;
}

.header__link_active {
	color: #fff;
	background-color: #ffbb42;
	border-radius: 4px;
}


/* +_+ Banner +_+ */

#banner {
	height: 589px;
	background-color: #709dca;
	text-align: center;
}

h1 {
	font-size: 40px;
	font-family: "Arial", sans-serif;
}

.banner__title {
	color: #fff;
	padding-top: 100px;
	text-transform: uppercase;
	font-weight: bold;
}

.subtitle {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
}

.banner__subtitle {
	color: #fff;
}

.banner__form {
	display: flex;
	justify-content: space-between;
	max-width: 1100px;
	margin: 0 auto;
	margin-top: 31px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"] {
	height: 47px;
	border-radius: 4px;
	font-family: "Open Sans", sans-serif;
	border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	max-width: 300px;
	font-size: 13px;
	padding-left: 40px;
	color: #a9a9a9;
}

.banner__icon-username:before,
.banner__icon-email:before,
.banner__icon-tel:before {
	font-family: "Font Awesome Solid";
	position: absolute;
	color: #a9a9a9;
	padding: 14px 0 0 12px;
}

.banner__icon-username:before {
	content: "\f007";
}
.banner__icon-email:before {
	content: "\f0e0";
}
.banner__icon-tel:before {
	content: "\f879";
}

input[type="submit"] {
	max-width: 211px;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	background-color: #ffbb42;
	color: #fff;
	padding: 0px 10px;
	flex-basis: 30%;
}

input[type="submit"]:hover {
	cursor: pointer;
}

.banner__img {
	margin-top: 100px;
}

.banner__img img {
	width: 55%;
}

/* +_+ Service +_+ */

.service__main {
	padding-bottom: 155px;
}

h2 {
	text-transform: uppercase;
	font-size: 30px;
	font-family: Arial, sans-serif;
}

.service__title {
	color: #394b50;
	text-align: center;
	margin-top: 190px;
}

.service__subtitle {
	text-align: center;
	color: #394b50;
}

.service__block {
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
}

.service__item {
	display: flex;
	justify-content: space-between;
	max-width: 515px;
}

.service__img {
	max-width: 121px;
	margin-right: 30px;
}

.service__text {
	max-width: 431px;
}

h3 {
	font-family: "Lato", sans-serif;
	font-size: 16px;
}

h3.service__text-title {
	color: #394b50;
	margin-bottom: 18px;
	text-transform: uppercase;
}

p.service__text-subtitle {
	font-family: "Open Sans", sans-serif;
	color: #7b7b7b;
	font-size: 13px;
}

/* +_+ About +_+ */

#about {
	background-color: #ffc155;
	height: 550px;
	display: flex;
}

.about__img {
	width: 50%;
	height: 100%;
	background-image: url(../img/about/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.about__container {
	width: 50%;
}

.about__block {
	margin-left: 10%;
	margin-right: 20%
}

.about__title {
	color: #fff;
	margin-top: 25%;
	margin-bottom: 28px;
}

.about__text {
	color: #fff;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	margin-bottom: 50px;
}

.about__button {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	padding: 10px 20px;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 3px;
}

/* +_+ Price +_+ */

#price {
	background-color: #e7edf3;
}

.price__title,
.price__subtitle {
	text-align: center;
}

.price__title {
	color: #394b50;
	padding-top: 135px;
}

.price__subtitle {
	font-size: 14px;
}

.price__block {
	display: flex;
	align-items: center;
	margin-top: 50px;
	height: 530px;
	padding-bottom: 145px;	
}

.price__plan {
	flex-basis: 33.333%;
	border: 1px solid #ccd5df;
	height: 470px;
	text-align: center;
	border-radius: 4px;
	background-color: #fff;
}

.price__plan-title {
	font-family: "Lato", sans-serif;
	font-size: 25px;
	color: #818b95;
	font-weight: normal;
	margin-bottom: 27px;
	margin-top: 55px;
}

.price__money-block {
	display: flex;
	justify-content: center;
	font-family: "Lato", sans-serif;
	color: #ffbb42;
	height: 68px;
}

.price__dollar {
	font-size: 40px;
}

.price__money {
	font-size: 60px;
}

.price__money-subtitle {
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	color: #818b95;
	margin-bottom: 32px;
}

.price__text {
	text-transform: uppercase;
	color: #b5bbc1;
	font-family: "Lato", sans-serif;
	border-top: 1px solid #e2e9f0;
	padding: 14px 0px;
	margin: 0 30px;
}

.button {
	color: #fff;
	text-transform: uppercase;
	background-color: #ffbb42;
	padding: 15px 20px;
	border-radius: 3px;
	text-decoration: none;
	font-family: "Lato", sans-serif;
}

.price__button {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.price__plan_main {
	background-color: #709dca;
	height: 530px;
}

.price__plan-title_main {
	margin-top: 85px;
}

.price__plan-title_main,
.price__money-block_main,
.price__money-subtitle_main {
	color: #fff;
}

.price__text_main {
	color: rgba(255, 255, 255, 0.7);
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

/* +_+ How it works +_+ */

.how__title {
	text-align: center;
	color: #394b50;
	margin-top: 150px;
}

.how__subtitle {
	text-align: center;
	font-family: "Lato", sans-serif;
	color: #394b50;
	margin-bottom: 65px;
}

.how__block {
	display: flex;
}

.how__step {
	padding: 0 25px;
	text-align: center;
}

.how__arrow {
	position: relative;
	top: 10%;
	left: 60%;
}

.how__arrow_rotated{
	transform: rotate(180deg);
	left: 60%;
	top: 45%;
}

.how__arrow-fix {
	margin-top: 32px;
}

.how__img {
	padding-top: 30px;
}

.how__step-title {
	font-size: 20px;
	text-transform: uppercase;
	color: #394b50;
	margin-top: 56px;
	margin-bottom: 25px;
}

p.how__text {
	font-size: 13px;
	color: #7b7b7b;
	font-family: "Open Sans", sans-serif;
}

.how__button {
	text-align: center;
	margin-top: 90px;
	margin-bottom: 150px;
}

a.how__link {
	display: inline-block;
}

/* +_+ Clients +_+ */

#clients {
	background-color: #ffc155;
}

h2.clients__title {
	color: #fff;
	text-align: center;
	padding-top: 140px;
}

p.clients__subtitle {
	font-family: "Lato", sans-serif;
	color: #fff;
	text-align: center;
}

.clients__block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	margin-top: 62px;
	padding-bottom: 160px;
	min-height: 510px; 
}

.clients__comment {
	display: flex;
	background-color: #fff;
	flex-basis: 49%;
	border-radius: 2px;
	margin-bottom: 20px;
}

.clients__img img {
	border-radius: 50%;
	margin: 41px 25px 0px 30px;
	max-width: 121px;
}

.clients__text-block {
	margin-top: 50px;
}

.clients__text {
	font-family: "Open Sans", sans-serif;
	margin-right: 40px;
	font-size: 13px;
	color: #7b7b7b;
}

.clients__name,
.clients__post {
	display: inline-block;
	margin-top: 24px;
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 20px;
}

.clients__name {
	color: #f6772c;
}

.clients__post {
	color: #99a9ae;
}

/* +_+ Newsletter +_+ */

.newsletter {
	text-align: center;
}

.newsletter__title {
	margin-top: 150px;
	color: #394b50;
}

.newsletter__subtitle {
	color: #394b50;
	font-family: "Open Sans", sans-serif;
}

.newsletter__form {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	margin-top: 39px;
	margin-bottom: 50px;
}

.newsletter input[name="username"],
.newsletter input[name="email"] {
	border: 1px solid #7b7b7b;
}

.newsletter input[type="text"] {
	width: 60%; 
}

.newsletter input[type="email"] {
	width: 70%;
}

.newsletter input[name="submit"] {
	padding: 0px 20px;
}

.newsletter__form div {
	flex-basis: 33.3333%;
}

.newsletter__icon-username,
.newsletter__icon-email,
.newsletter__submit {
	width: auto;
}

.newsletter__icon-username:before,
.newsletter__icon-email:before {
	font-family: "Font Awesome Solid";
	position: absolute;
	color: #a9a9a9;
	padding: 14px 0 0 12px;
}

.newsletter__icon-username:before {
	content: "\f007";
}

.newsletter__icon-email:before {
	content: "\f0e0";
}

/* +_+ Map +_+ */

.map {
	background-image: url(../img/map/map.png);
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 40px;
}

.map__circle {
	background-color: #394b50;
	border-radius: 50%;
	max-width: 280px;
	height: 280px;
	margin: 0 auto;
}

.map__title {
	font-family: "Lato", sans-serif;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	padding-top: 60px;
	padding-bottom: 20px;
}

.map__text {
	color: rgba(255, 255, 255, .5);
	margin-bottom: 7px;
}

.map__link {
	text-decoration: none;
	color: #ffbb42;
}

.map__link,
.map__text {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
}

.map__logo {
	margin-top: 15px;
	padding-bottom: 220px;
}

/* +_+ Footer +_+ */

.footer {
	border-top: 1px solid #e3e7ec;
}

.footer__menu {
	max-width: 80%;
    margin: 0 auto;
    padding-top: 80px;
}

.footer__list {
	justify-content: space-between;
}

.footer__link {
	color: #394b50;
	font-size: 13px;
	line-height: 1.2;
	padding: 0px;
}

.footer__link:hover {
	text-decoration: underline;
}

.footer__tel {
	font-size: 23px;
	font-family: "Lato", sans-serif;
	color: #394b50;
	text-align: center;
	margin-top: 20px;
}

.footer__tel:before {
	font-family: "Font Awesome Solid";
	content: "\f879";
	margin-right: 5px;
	font-size: 80%;
}

.footer__icon {
	margin-right: 8px;
}

.footer__social {
	margin-top: 10px;
	text-align: center;
	margin-bottom: 50px;
}

.footer__social i:nth-child(1) {
	color: #ffc155;
}

.footer__social i {
	margin-right: 8px;
	color: #709dca;
	font-size: 120%;
	cursor: pointer;
}

.copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	background-color: #709dca;
}

.copyright__text {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	color: #fff;
}

@media (max-width: 985px) {

	.header {
		height: 70px; 
	}

	.header__menu {
		display: none;
	}

	.banner__title {
		padding-top: 60px;
	}

	.banner__form {
		margin-top: 60px;
	}

	.banner__img {
		margin-top: 60px;
	}

	.banner__img img {
		width: 70%;
	}

	.service__main {
		padding-bottom: 70px;
	}

	.service__title {
		margin-top: 120px;
	}

	.price__title {
		padding-top: 80px;
	}

	.price__block {
		padding-bottom: 80px;	
	}

	.how__title {
		margin-top: 90px;
	}

	.how__button {
		margin-bottom: 90px;
	}

	.clients__block {
		display: block;
	}

	h2.clients__title {
		padding-top: 90px;
	}

	.clients__block {
		padding-bottom: 40px;
	}

	.newsletter__form {
		display: block;
		width: 100%;
	}

	.newsletter__title {
		margin-top: 90px;
	}

	.newsletter__icon-username,
	.newsletter__icon-email,
	.newsletter__submit {
		margin-top: 10px;
	}

	.footer__menu {
		max-width: 95%;
	    padding-top: 40px;
	}
}

@media (max-width: 890px) {

	#banner {
		height: auto;
	}

	.banner__form {
		display: block;
		margin-top: 80px;
	}

	.banner__form input {
		width: 80%;
	}

	.banner__icon-username,
	.banner__icon-email,
	.banner__icon-tel,
	.banner__submit {
		margin-top: 20px;
	}

	.banner__img {
		padding-bottom: 20px;
	}

	.service__title {
		margin-top: 70px;
	}

	.price__block {
		display: block;
		width: 60%;
		margin: 0 auto;
		height: auto;
	}

	.price__plan {
		height: auto;
	}

	.price__plan-title_main {
		margin-top: 55px;
	}

	.price__plan_main {
		background-color: #709dca;
		height: auto;
	}

	.price__plan {
		margin-top: 20px;
	}

	.about__block {
		margin-right: 10%
	}

	.how__block {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.how__step {
		flex-basis: 40%;
	}

	.how__arrow-fix {
		margin-top: 0px;
	}

	.how__arrow {
		display: none;
	}
}

@media (max-width: 734px) {

	.banner__img {
		display: none;
	}

	.banner__submit {
		padding-bottom: 20px;
	}

	.service__block {
		display: block;
		width: 80%;
		margin: 0 auto;
	}

	.service__item {
		margin-top: 40px;
		max-width: 540px;
	}

	.how__step {
		flex-basis: 70%;
	}


	.how__step-title {
		margin-top: 25px;
	}

	.newsletter input[name="submit"] {
		display: block;
		margin: 0 auto;
		padding: 0px 60px;
		margin-top: 20px;	
	}

	.newsletter input[name="username"],
	.newsletter input[name="email"] {
		margin-top: 20px;
		width: 60%;
	}

	.newsletter__icon-username:before,
	.newsletter__icon-email:before {
		margin-top: 20px;
	}

	.footer__menu {
		padding-top: 10px;
	}

	.footer .list {
		display: block;
		text-align: center;
	}

	.footer__list li {
		margin-top: 10px;
	}

	.footer__link {
		font-size: 15px;
	}

	.footer__link:before {
		content: "- "
	}

	.footer__link:after {
		content: " -"
	}

	.footer__social {
		margin-bottom: 20px;
	}
}

@media (max-width: 600px) {

	#about {
		height: auto;
	}

	.about__img {
		display: none;
	}

	.about__title {
		margin-top: 60px;
	}

	.about__container {
		width: 100%;
	}

	.about__price {
		width: 100%;
	}

	.about__title,
	.about__text {
		text-align: center;
	}

	.about__button {
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 30%;
		margin-bottom: 40px;	
	}

	.price__block {
		width: 100%;
	}

	.price__button {
		margin-bottom: 40px;
	}

	.how__subtitle {
		margin-bottom: 20px;
	}

	h2.clients__title {
		padding-top: 50px;
	}

	.map {
		background-position: center;
	}

	.copyright {
		height: auto;
	}

	.copyright__text {
		display: block;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		line-height: 1.7;
	}
}

@media (max-width: 515px) {

	.clients__comment {
		display: block;
		text-align: center;
	}

	.clients__img img {
		margin: 20px 0px 0px 0px;
	}

	.clients__text-block {
		margin-top: 20px;
	}

	.clients__text {
		margin: 0px 20px;
	}

	.clients__name,
	.clients__post {
		margin-top: 10px;
	}
}